
{% load static %}
  <!-- ======= Footer ======= -->
  <!-- <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">



        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>2024</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        </div>
      </div>
    </div>
  </footer> -->
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'interfaces/beans/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'interfaces/beans/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'interfaces/beans/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'interfaces/beans/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'interfaces/beans/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'interfaces/beans/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'interfaces/beans/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'interfaces/beans/vendor/bootstrap/js/bootstrap.bundle.min.js' %}" async defer></script>
  <script src="{% static 'interfaces/beans/js/popper/popper.min.js' %}"></script>
  <script src="{% static 'interfaces/beans/js/jquery/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'interfaces/beans/js/plotlyjs/plotly.min.js' %}"></script>
  <script src="{% static 'interfaces/beans/js/image_submit.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'interfaces/beans/js/main.js' %}"></script>

</body>

</html>