
{% extends '../includes/base.html' %}
{% load static %}
{% block content %}
   <!-- HERO
    ================================================== -->
    <section class="page-banner-area page-about">
        <div class="overlay"></div>
        <!-- Content -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-12 col-12 text-center">
                    <div class="page-banner-content">
                        <h1 class="display-4 font-weight-bold">About AI4CropHealth Project</h1>
                        <p>Empowering Agriculture Through Innovation.</p>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>



<section class="section" id="process">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title">
                            Vision for the Future
                        </h2>

                        <!-- Subheading -->
                        <p>
                            We envision a future where agriculture is not just a source of livelihood but a beacon of sustainable innovation. Our vision encompasses:
                        </p>

                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="{% static 'images/process/process-4.jpg' %}" alt="" class="img-fluid">

                        <h3>Precision Agriculture</h3>
                        <p> Utilizing AI/ML models for precise disease detection, ensuring targeted and effective interventions.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="{% static 'images/process/process-5.jpg' %}" alt="" class="img-fluid">

                        <h3>Smart Predictions</h3>
                        <p> Integrating AI with real-time weather data to predict disease occurrences, enabling farmers to proactively protect their crops.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="{% static 'images/process/process-6.jpg' %}" alt="" class="img-fluid">

                        <h3>Knowledge Empowerment</h3>
                        <p>Fostering knowledge transfer, capacity building, and advocating for the adoption of AI-based practices in crop disease management.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


<section class="section" id="projects-wrap">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h1 class="text-white">Embarking on a Revolutionary Approach at AI4CropHealth: Transforming Crop Health Management through Pioneering Innovation</h1>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p class="lead text-white">In the realm of agricultural technology, AI4CropHealth stands at the forefront, driven by a commitment to revolutionize how we tackle the intricate challenges of crop health. Our approach is a testament to our dedication to pioneering innovation and reshaping the landscape of agricultural practices. Allow us to provide you with a detailed insight into our strategic methodology:</p>
                </div>
            </div>
        </div>
    </section>
  <br><br>
    <section id="projects" class="section-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                    <div class="single-project">
                        <img src="{% static 'images/projects/p-9.jpg' %}" alt="" class="img-fluid">
                        <div class="project-content">
                            <h4>Innovation at the Core</h4>
                            <p>We lead with innovation, developing and implementing cutting-edge AI/ML models. These models are designed for precise detection and classification of plant diseases, leveraging advanced image processing techniques. Our focus is on pushing the boundaries of what's possible in agriculture technology.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                    <div class="single-project">
                        <img src="{% static 'images/projects/p-8.jpg' %}" alt="" class="img-fluid">
                        <div class="project-content">
                            <h4>Collaborative Expertise</h4>
                            <p>The strength of our approach lies in collaboration. Our team comprises experts from diverse backgrounds—AI, machine learning, agriculture, and environmental science. By combining these varied skill sets, we bring a holistic perspective to solving complex challenges in crop health management.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 ">
                    <div class="single-project">
                        <img src="{% static 'images/projects/p-7.jpg' %}" alt="" class="img-fluid">
                        <div class="project-content">
                            <h4>Knowledge Transfer and Capacity Building</h4>
                            <p>Beyond technology, we prioritize knowledge transfer and capacity building. Our approach includes initiatives to empower stakeholders, advocate for the adoption of AI-based practices, and contribute to the collective knowledge that propels the entire agriculture sector forward.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row py-4">
                <div class="col-lg-7 col-md-12 col-sm-12 ">
                    <div class="single-project">
                        <img src="{% static 'images/bg/bgw.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 ">
                    <div class="project-content-block">
                        <h4>Do you know who we are?</h4>
                        <h2>AI4CropHealth is more than just a project...</h2>
                        <p>It's a movement toward a sustainable and technologically empowered agriculture sector. Explore the possibilities, get involved, and be part of the journey towards a brighter and more resilient agricultural future.

                            .</p>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    {% endblock %}