  {% extends '../includes/master.html' %}
  {% load static %}
  {% block content %}
  <!-- HERO ================================================== -->
    <section class="banner-area py-7">
        <!-- Content -->
        <div class="container">
            <div class="row  align-items-center">
                <div class="col-md-12 col-lg-7 text-center text-lg-left">
                    <div class="main-banner">
                        <!-- Heading -->
                        <h1 class="display-4 mb-4 font-weight-normal">
                            Empowering Farmers, Nurturing Crops, Sustaining Futures
                        </h1>

                        <!-- Subheading -->
                        <p class="lead mb-4">
                            The AI4CropHealth project is a groundbreaking initiative hosted at the Department of Informatics and Information Technology, College of Natural and Applied Sciences, Sokoine University of Agriculture. Generously funded by the government of the United Republic of Tanzania through the Commission for Science and Technology (COSTECH), this project aims to revolutionize crop disease surveillance, prediction, and management.
                        </p>

                        <!-- Button -->
                        <p class="mb-0">
                            <a href="{% url 'ai4chapp:about' %}" class="btn btn-primary btn-circled">
                                Read More
                            </a>
                        </p>
                    </div>
                </div>

                <div class="col-lg-5 d-none d-lg-block">
                    <div class="banner-img-block">
                        <img src="{% static 'system/images/banner-img.png' %}" alt="banner-img" class="img-fluid">
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>


    <!-- SERVICE-1  ================================================== -->
    <section class="bg-grey" id="service">
        <div class="container">
            <div class="row ">
                <div class="col-lg-4">
                    <div class="service-img">
                        <img src="{% static 'system/images/blog-lg.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>

                <div class="col-lg-6 pl-4">
                    <div class="service-content">
                        <h1>AI4CropHealth Project Objectives: Transforming Agriculture Through Technology</h1>
                        <p>The AI4CropHealth project is dedicated to revolutionizing crop health management by harnessing the power of technology. Our key objectives include:</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-5 service-wrap">
        <div class="container">
            <div class="row ">
                <div class="col-lg-8 offset-lg-4">
                    <div class="carousel slide " id="service-carousel" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="service-block media">
                                                <div class="service-icon">
                                                    <i class="ti-reload"></i>
                                                </div>
                                                <div class="service-inner-content media-body">
                                                    <h4>Develop and Implement AI/ML Models</h4>
                                                    <p>Develop and implement models for accurate detection and classification of plant diseases.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="service-block media">
                                                <div class="service-icon">
                                                    <i class="ti-cloud"></i>
                                                </div>
                                                <div class="service-inner-content media-body">
                                                    <h4>Integrate AI/ML with Weather Data</h4>
                                                    <p>Combine AI/ML with real-time weather data for proactive disease prediction.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="service-block media">
                                                <div class="service-icon">
                                                    <i class="ti-world"></i>
                                                </div>
                                                <div class="service-inner-content media-body">
                                                    <h4>Conduct Pilot Studies</h4>
                                                    <p>  Assess system performance and effectiveness through carefully designed pilot studies.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="service-block media">
                                                <div class="service-icon">
                                                    <i class="ti-server"></i>
                                                </div>
                                                <div class="service-inner-content media-body">
                                                    <h4>Capacity Building and Advocacy</h4>
                                                    <p> Foster knowledge and advocate for the adoption of AI-based crop disease management practices.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <p class="pl-3">Want to know more about this? <a href="#!">Contact us</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="section" id="blog">
            <div class="container-fluid">
                <div class="row justify-content-center">
                  {% if news %}
                    <div class="col-md-8 col-lg-6 text-center">
                        <div class="section-heading">
                            <!-- Heading -->
                            <h2 class="section-title">
                                Read our latest news
                            </h2>
          
                            <!-- Subheading -->
                            <p>
                                Our Latest Published news.
                            </p>
                        </div>
                    </div>
                </div> <!-- / .row -->
                <div class="row justify-content-center">
                  
                  {% for new in news %}
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-box">
                            <div class="blog-img-box">
                                <!-- <a href="news/{{ new.slug }}"><img src="{{ new.thumbnail.url }}" alt="{{ new.title }}" class="img-fluid blog-img"></a> -->
                            </div>
                            <div class="single-blog">
                                <div class="blog-content">
                                    <h6> {{ new.created_at | date }}</h6>
                                    <a href="news/{{ new.slug}}">
                                        <h3 class="card-title">{{ new.title }}</h3>
                                    </a>
                                    <!-- <p class="card-text">{{ new.body | truncatewords:10 |  safe }}</p> -->
                                    <a href="{% url 'news:read-new' new.slug %}" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor%}
                    {% endif %}
                    {% if not news %}
                    <div class="col-md-8 col-lg-6 text-center">
                      <div class="section-heading">
                          <!-- Heading -->
                          <h2 class="section-title">
                              Read our latest news
                          </h2>
          
                          <!-- Subheading -->
                          <p>
                           To be Published Soon
                          </p>
                      </div>
                  </div>
                    {% endif %}
                </div>
            </div>
          </section>


<section class="section" id="services-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title mb-2 text-white">
                           Possible Project Results
                        </h2>

                        <!-- Subheading -->
                        <p class="mb-5 text-white">
                            Discover the potential results of the AI4CropHealth project, where cutting-edge technology meets agriculture innovation. Our vision is to revolutionize crop health management, empowering farmers, and fostering sustainability. Here are ten possible outcomes that could reshape the landscape of agriculture
                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-light-bulb"></i>
                        <h3>Enhanced Disease Detection Accuracy</h3>
                        <p>Improve the precision and reliability of disease detection through advanced AI/ML models.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-desktop"></i>
                        <h3>Improved Disease Prediction</h3>
                        <p>Predict and mitigate disease occurrences by integrating AI/ML models with real-time weather data.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <i class="ti-announcement"></i>
                        <h3>Increased Crop Yield</h3>
                        <p>Reduce losses and boost crop yields through timely disease detection and targeted interventions.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-layers-alt"></i>
                        <h3>Environmental Sustainability</h3>
                        <p>Minimize environmental contamination by reducing the reliance on widespread pesticide use.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-mobile"></i>
                        <h3>Data-Driven Insights</h3>
                        <p> Gain valuable insights into disease patterns and their correlation with weather conditions for informed decision-making.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <i class="ti-settings"></i>
                        <h3>Technology Adoption</h3>
                        <p>Advocate for and increase the adoption of AI-based crop disease surveillance and management practices.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


<section class="section" id="section-testimonial">
        <div class="container">
           <div class="row align-items-center">
                <div class="col-lg-4 col-sm-12 col-md-12">
                    <div class="section-heading testimonial-heading">
                        <h1>Our <br>Team</h1>
                        <p>Our team is comprised of passionate individuals who share a common goal of reshaping the future of agriculture. With expertise ranging from AI and machine learning to agriculture and environmental science, we are committed to driving impactful change in the field.</p>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <img src="{% static 'system/images/client/avatar.png' %}" alt="Project Member" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Dr. Michael Pendo John Mahenge</h4>
                                       <h6>PI</h6>
                                   </div>
                               </div>

                               Department of Informatics and Information Technology, College of Natural and Applied Sciences, Sokoine University of Agriculture


                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <img src="{% static 'system/images/client/avatar.png' %}" alt="Project Member" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Dr. Beatrace Mwaipopo</h4>
                                       <h6>Co-PI</h6>
                                   </div>
                               </div>

                               Department of Crop Science and Horticulture, College of Agriculture, Sokoine University of Agriculture

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <img src="{% static 'system/images/client/avatar.png' %}" alt="Project Member" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Prof. Camilius Aloyce Sanga</h4>
                                       <h6>Co-PI</h6>
                                   </div>
                               </div>

                               Directorate of Information and Communication Technology, Sokoine University of Agriculture

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <img src="{% static 'system/images/client/avatar.png' %}" alt="Project Member" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Dr. Farian Severine Ishengoma</h4>
                                       <h6>Co-PI</h6>
                                   </div>
                               </div>

                               Department of Informatics and Information Technology, College of Natural and Applied Sciences, Sokoine University of Agriculture

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="test-inner">
                               <div class="test-author-thumb d-flex">
                                   <img src="{% static 'system/images/client/avatar.png' %}" alt="Project Member" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Dr. Richard Madege </h4>
                                       <h6>Co-PI</h6>
                                   </div>
                               </div>

                               Department of Crop Science and Horticulture, College of Agriculture, Sokoine University of Agriculture


                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="test-inner">
                               <div class="test-author-thumb d-flex">
                                   <img src="{% static 'system/images/client/avatar.png' %}" alt="Project Member" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Dr. Anna Baltazari</h4>
                                       <h6>Collaborator</h6>
                                   </div>
                               </div>

                               Tanzania Plant Health and Pesticides Authority (TPHPA), Ministry of Agriculture, Tanzania

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <img src="{% static 'system/images/client/avatar.png' %}" alt="Project Member" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Dr. Katemani Mudiri,</h4>
                                       <h6>Collaborator</h6>
                                   </div>
                               </div>

                               Tanzania Plant Health and Pesticides Authority (TPHPA), Ministry of Agriculture, Tanzania

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="test-inner ">
                               <div class="test-author-thumb d-flex">
                                   <img src="{% static 'system/images/client/avatar.png' %}" alt="Project Member" class="img-fluid">
                                   <div class="test-author-info">
                                       <h4>Dr. Dominick Elimringi Ringo</h4>
                                       <h6>Collaborator</h6>
                                   </div>
                               </div>

                               Research, Community and Organizational Development Associates, Tanzania

                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
 
