{% extends '../includes/base.html' %}
{% load static %}
{% block content %}

<!-- HERO
================================================== -->
<section class="page-banner-area page-project">
    <div class="overlay"></div>
    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-12 col-12 text-center">
                <div class="page-banner-content">
                    <h1 class="display-4 font-weight-bold">AI4CropHealth Project</h1>
                    <p>Empowering Agriculture Through Innovation.</p>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<section class="section" id="blog">
  <div class="container">
      <div class="row justify-content-center">
        {% if news %}
          <div class="col-md-8 col-lg-6 text-center">
              <div class="section-heading">
                  <!-- Heading -->
                  <h2 class="section-title">
                      Read our latest news
                  </h2>

                  <!-- Subheading -->
                  <p>
                      Our Latest Published news.
                  </p>
              </div>
          </div>
      </div> <!-- / .row -->
      <div class="row justify-content-center">
        
        {% for new in news %}
          <div class="col-lg-4 col-md-6">
              <div class="blog-box">
                  <div class="blog-img-box">
                    <a href="news/{{ new.slug }}"><img src="{{ new.thumbnail.url }}" alt="{{ new.title }}" class="img-fluid blog-img"></a>
                  </div>
                  <div class="single-blog">
                      <div class="blog-content">
                          <h6> {{ new.created_at | date }}</h6>
                          <a href="news/{{ new.slug}}">
                              <h3 class="card-title">{{ new.title }}</h3>
                          </a>
                          <!-- <p class="card-text">{{ new.body | truncatewords:10 | safe }}</p> -->
                          <a href="{% url 'news:read-new' new.slug %}" class="btn btn-primary">Read More</a>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor%}
          {% endif %}
          {% if not news %}
          <div class="col-md-8 col-lg-6 text-center">
            <div class="section-heading">
                <!-- Heading -->
                <h2 class="section-title">
                    Read our latest news
                </h2>

                <!-- Subheading -->
                <p>
                 To be Published Soon
                </p>
            </div>
        </div>
          {% endif %}
      </div>
  </div>
</section>
{% endblock %}