{% extends "../includes/master.html" %}
{% load static %}
{% block title %}AI4CH - News{% endblock %}
{% block content %}
<!-- Start inner Page hero-->
<section class="d-flex align-items-center page-hero inner-page-hero" id="page-hero" style="margin-top:100px;">
    <div class="overlay-photo-image-bg parallax" data-bg-img="{% static 'assets/images/hero/inner-page-hero.jpg' %}" data-bg-opacity="1"></div>
    <div class="overlay-color" data-bg-opacity=".75"></div>
    <div class="container">
        <div class="hero-text-area text-center">
            <h1 class="hero-title wow fadeInUp" data-wow-delay=".2s">{{ new.title }}</h1>
        </div>
    </div>
</section>
<br>
<!-- End inner Page hero-->
<!-- Start Project Details Area-->
<section class="portfolio-single mega-section">
    <div class="container">
        <div class="main-area">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="portfolio portfolio-slider">
                        <!--Swiper-->
                        <div class="swiper-container wow fadeIn" data-wow-delay=".5s">
                            <div class="swiper-wrapper">
                                <div class="">
                                    <div class="item">
                                        <a class="portfolio-img-link" href="#"><img class="portfolio-img img-fluid featured-img" loading="lazy" src="{{ new.thumbnail.url }}" alt="{{ new.title }}"/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="project-text text-center">
                        {{ new.body | safe }}
                    </p>
                    <!-- <hr> -->
                    <br>
                    <div class="row">
                        {% if news %}
                        <h3 class="text-center">Other News</h3>
                        {% for other in news %}
                        <div class="col-md-6 mb-6">
                            <div class="card">
                                <!-- <img class="card-img-top img-fluid" loading="lazy" src="{{ other.thumbnail.url }}" alt="{{ other.title }}"> -->
                                <div class="card-body">
                                    <h5 class="card-title">{{ other.title }}</h5>
                                    <!-- <p class="card-text">{{ other.body| truncatewords:10 | safe }}</p> -->
                                    <a href="{% url 'news:read-new' other.slug %}" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <!-- <p class="text-center">No other news available.</p> -->
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="info-area">
                        <div class="project-info">
                            <div class="row">
                                <div class="col-12">
                                    <div class="info">
                                        <h5 class="title">Publisher</h5>
                                        <p class="detail">{{ new.publisher.first_name }} {{ new.publisher.last_name }}</p><i class="fas fa-address-card icon"></i>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="info">
                                        <h5 class="title">Category</h5>
                                        {% if new.thematic_area == 0 %}
                                        <p class="detail">Agriculture</p><i class="fas fa-tasks icon"></i>
                                        {% endif %}
                                        {% if new.thematic_area == 1 %}
                                        <p class="detail">Artificial Intelligence</p><i class="fas fa-tasks icon"></i>
                                        {% endif %}
                                        {% if new.thematic_area == 2 %}
                                        <p class="detail">Technology</p><i class="fas fa-tasks icon"></i>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="info">
                                        <h5 class="title">Published on</h5>
                                        <p class="detail"><i class="fas fa-calendar-alt icon"></i> {{ new.created_at | date }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="cta-area text-center">
                <a href="{% url 'news:news' %}" class="btn btn-primary">All News</a></a>
            </div> -->
            <br>
        </div>
    </div>
</section>
<!-- End Project Details Area-->
<!-- End take-action Section-->
{% endblock %}
