<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Dashboard - Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'system/dashboard/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'system/dashboard/vendor/owl-carousel/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'system/dashboard/vendor/owl-carousel/css/owl.theme.default.min.css' %}">
    <link href="{% static 'system/dashboard/vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">
    <link href="{% static 'system/dashboard/css/style.css' %}" rel="stylesheet">



</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="{% url 'users:dashboard' %}" class="brand-logo">
                <span>AI4CH</span>
                <!-- <img class="logo-abbr" src="{% static 'dashboard/images/logo.png' %}" alt="">
                <img class="logo-compact" src="{% static 'dashboard/images/logo-text.png' %}" alt="">
                <img class="brand-title" src="{% static 'dashboard/images/logo-text.png' %}" alt=""> -->
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <!-- <i class="mdi mdi-magnify"></i> -->
                                </span>
                                <!-- <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div> -->
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="{% url 'users:dashboard' %}" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="{% url 'users:logout' %}" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first"></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-user"></i><span class="nav-text">Account</span></a>
                        <ul aria-expanded="false">
                            <li><a href="#!">Update Profile</a></li>
                            <li><a href="#!">Change Password</a></li>
                        </ul>
                    </li>

                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-single-04"></i><span class="nav-text">Manage Staff</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'users:add-staff' %}">Add Staff</a></li>
                            <li><a href="{% url 'users:staffs' %}">View Staff</a></li>
                        </ul>
                    </li>

                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-world-2"></i><span class="nav-text">Manage News</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'news:add-news' %}">Add News</a></li>
                            <li><a href="{% url 'news:news-list' %}">View News</a></li>
                        </ul>
                    </li>

                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-form"></i><span class="nav-text">Desease Detection</span></a>
                        <ul aria-expanded="false">
                            <li><a href="">Beans</a></li>
                            <li><a href="">Maize</a></li>
                        </ul>
                    </li>

                </ul>
            </div>


        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->