{% extends 'includes/master.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
<head>
<link rel="stylesheet" href="{% static 'public/assets/css/style_opticai.css' %}">
</head>

<div class="container" style="margin-top:150px;">

    <div class="panel panel-success">
        <div class="panel-heading"><p class="text-center bold">SELF CARE GUIDELINES</p></div>
        <div class="panel-body">
            <p class="">
                Th is exercise can help you to own your emotions and learn how to express them in a safe and healthy way.
                <ul>
                    <li>Begin by identifying what you are feeling right now, in this moment.</li>
                    <li>Practice saying what you are feeling out loud, using "I" language. For example: I feel angry, I feel sad, I feel scared. Own your emotions.</li>
                    <li>Start by expressing your emotions when you are alone. After you become more comfortable, practice with someone with whom you have a safe, trusting relationship.</li>
                    <li>Finally begin to practice in more challenging situations. Remember not to blame the other person and to be open to hearing their experience. You can also ask others for feedback.</li>
                </ul>
            </p>
            <p class="">
                What to do If you have thoughts of suicide 
                <ul>
                    <li>Remember you are not alone and there are some people that have experienced what you are experiencing right now and they found help.</li>
                    <li>Talk to someone you trust about how you feel.</li>
                    <li>Talk to health worker, such as doctor or counselor.</li>
                </ul>
            </p>
        </div>
    </div>

</div>
  <div style="margin-top:150px;"></div>
{% endblock %}
