{% extends '../includes/master.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
<head>
<link rel="stylesheet" href="{% static 'classifiers/beans/css/style_beans.css' %}">
</head>

<main>
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2> Maize Disease Classification </h2>
            <ol>
            <!-- <li><a href="{% static 'classifiers/beans/img/sample_images.zip' %}">Download sample beans images</a></li> -->
            </ol>
          </div>
  
        </div>
      </section><!-- End Breadcrumbs -->
        <section id="main">
            <div class="container" style="padding: 0; margin-top: 100px;">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 align-items-center" id='results_side'>
                        <form  class="form align-items-center" action="" id='form_img_section_one' enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class="file-drop-area align-items-center">
                                <!-- <span class="choose-file-button align-items-center" >OPEN AN EYE IMAGE</span> -->
                                {{ image_horizontal.image_file }}
                                <span id="val"></span>
                            </div>
                        </form>
                        {% if image %}
                        <div class="panel panel-primary" style="margin-top:80px;">
                            <!-- <hr> -->
                            <div class="">
                                <img width="400px" height="300px"class="img-responsive img-circle" src="{{ image.image_path.url }}" alt="{{ image.image_name }}">
                            </div>
                               <!-- <br> -->
                            <!-- <hr> -->
                            <!-- <div class="panel-heading">
                                <p class="panel-title">IMAGE DETAILS</p>
                            </div> -->
                            <div class="panel-body">
                                <div>
                                    <hr>
                                    <p>Image Name: {{ image.image_name }}</p>
                                    <hr>
                                    <p>Image ID: {{ image.image_id }}</p>
                                    <hr>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <!-- <br><br> -->
                    <div class="col-md-6 col-sm-12 col-xs-12 flex-d align-items-center" id='form-round-side'>
                                <canvas id="myChart_classes" style="width:100%;max-width:500px; height:200px;"></canvas>
                                <br>
                                {% if image %}
                                <hr>
                                {% endif %}
                                <br>
                                <canvas id="myChart_proba" style="width:100%;max-width:500px;"></canvas>
                                {% if image %}
                                <hr>
                                {% endif %}
                                <script>
        
                                    var pred_index = {{ pred_index }};
                                    var probabilities = {{ probabilities }};
                                    var proba = {{ proba }};
        
                                    //class prediction
        
                                    if(pred_index == 0){
                                      var indeces = [probabilities[0]];
                                      var class_names = ["Gray Leaf Spot"];
                                      var barColors = ["gray"];
                                    }
                                    else if(pred_index == 1){
                                      var indeces = [probabilities[1]];
                                      var class_names = ["Common Rust"];
                                      var barColors = ["yellow"];
                                    }
                                    else if(pred_index == 2){
                                      var indeces = [probabilities[2]];
                                      var class_names = ["Northern Leaf Blight"];
                                      var barColors = ["orange"];
                                    }
                                    else if(pred_index == 3){
                                       var indeces = [probabilities[3]];
                                       var class_names = ["Healthy"];
                                       var barColors = ["green"];
                                    }
        
                                    new Chart("myChart_classes", {
                                    type: 'horizontalBar',
                                    data: {
                                        labels: class_names,
                                        datasets: [{
                                        backgroundColor: barColors,
                                        data: indeces
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            xAxes: [{
                                                ticks: {
                                                    min: 0,
                                                    max: 1,
                                                    fontSize: 15
                                                }
                                            }],
                                            yAxes: [{
                                                ticks: {
                                                    fontSize: 15
                                                },
                                                stacked: true,
                                                barPercentage: 0.4
                                            }]
                                        },
                                        maintainAspectRatio: false,
                                        responsive: false,
                                        grid: {display:false},
                                        legend: {display: false},
                                        title: {
                                        fontSize: 15,
                                        display: true,
                                        text: "Maize Disease Predicted"
                                        }
                                    }
                                    });
        
                                    //probabilities
        
                                    var class_names = ["Gray Leaf Spot", "Common Rust", "Northern Leaf Blight", "Healthy"];
                                    var probas = [probabilities[0],probabilities[1], probabilities[2], probabilities[3]];
                                    var barColors = ["gray", "yellow", "orange", "green"];
        
                                    new Chart("myChart_proba", {
                                    type: "bar",
                                    data: {
                                        labels: class_names,
                                        datasets: [{
                                        backgroundColor: barColors,
                                        data: probas
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    min: 0,
                                                    max: 1,
                                                    fontSize: 15
                                                }
                                            }],
                                            xAxes: [{
                                                ticks: {
                                                    fontSize: 15
                                                },
                                                stacked: true,
                                                categoryPercentage: 0.6,
                                            }]
                                        },
                                        legend: {display: false},
                                        title: {
                                        display: true,
                                        fontSize: 15,
                                        text: "Maize Diseases Classes"
                                        }
                                    }
                                    });
        
        
        
                                </script>
        
                    </div>

            </div>
        </section>
</main>
{% endblock %}
