{% extends '../includes/base.html' %}
{% load i18n %}
{% block content %}
<div class="page-container">
  <div class="main-content">
    <div class="container-fluid">
      <div class="breadcrumb-wrapper row">
        <div class="col-12 col-lg-3 col-md-6">
          <h4 class="page-title">{% trans "Crop Reports" %}</h4>
        </div>
        <div class="col-12 col-lg-9 col-md-6">
          <ol class="breadcrumb float-right">
            <li><a href="#">{% trans "Reports" %}</a></li>
            <li class="active">{% trans "/ Crop Data" %}</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-xl-12 m-b-10">
          <div class="card">
            <div class="card-header border-bottom">
              <h4 class="card-title">{% trans "Crop Data Report" %}</h4>
            </div>
            <div class="card-header border-bottom d-flex justify-content-between">
                <h4 class="card-title"></h4>
                <a href="{% url 'reports:download_csv_report' %}" class="btn btn-success btn-sm">
                  <i class="fa fa-download"></i> {% trans "Download CSV" %}
                </a>
              </div>
              
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover mb-0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>{% trans "Email" %}</th>
                      <th>{% trans "User Region" %}</th>
                      <th>{% trans "User District" %}</th>
                      <th>{% trans "File Type" %}</th>
                      <th>{% trans "Crop Type" %}</th>
                      <th>{% trans "Image Region" %}</th>
                      <th>{% trans "Image District" %}</th>
                      <th>{% trans "Date" %}</th>
                      <th>{% trans "Actions" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in page_obj %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ item.email }}</td>
                      <td>{{ item.user_region }}</td>
                      <td>{{ item.user_district }}</td>
                      <td>{{ item.file_type }}</td>
                      <td>{{ item.crop_type }}</td>
                      <td>{{ item.image_region }}</td>
                      <td>{{ item.image_district }}</td>
                      <td>{{ item.date }}</td>
                      <td>
                        <a href="{% url 'reports:view_predictions' item.id item.crop_type 'detection'  %}" class="btn btn-success btn-sm">
                          <i class="fa fa-eye"></i> {% trans "View Predictions" %}
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="pagination">
                <span class="step-links">
                  {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                  {% endif %}
                  <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "last" %} &raquo;</a>
                  {% endif %}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}