{% extends '../includes/base.html' %}
{% block content %}

<div class="page-container">
  <div class="main-content">
    <div class="container-fluid">
      <div class="breadcrumb-wrapper row">
        <div class="col-12 col-lg-3 col-md-6">
          <h4 class="page-title">Crop Reports</h4>
        </div>
        <div class="col-12 col-lg-9 col-md-6">
          <ol class="breadcrumb float-right">
            <li><a href="#">Reports</a></li>
            <li class="active"> / Crop Data</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-xl-12 m-b-10">
          <div class="card">
            <div class="card-header border-bottom">
              <h4 class="card-title">Crop Data Report</h4>
            </div>
            <div class="card-header border-bottom d-flex justify-content-between">
                <h4 class="card-title"></h4>
                <a href="{% url 'reports:download_csv_report' %}" class="btn btn-success btn-sm">
                  <i class="fa fa-download"></i> Download CSV
                </a>
              </div>
              
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover mb-0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Email</th>
                      <th>Region</th>
                      <th>District</th>
                      <th>File Type</th>
                      <th>Crop Type</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in page_obj %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ item.email }}</td>
                      <td>{{ item.region }}</td>
                      <td>{{ item.district }}</td>
                      <td>{{ item.file_type }}</td>
                      <td>{{ item.crop_type }}</td>
                      <td>{{ item.date }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="pagination">
                <span class="step-links">
                  {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">next</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                  {% endif %}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
